# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AcsWrapper.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\git\github\acs.Wrapper\.idea\.idea.AcsWrapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
